
:root {
    --primary-color: #1e90ff;     
    --secondary-color: #0d47a1;    
    --accent-color: #00bcd4;       
    --background-color: #e8f0fe;
    --text-color: #333;
  }
  

  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid var(--accent-color);
  }

  h1 {
    color: var(--background-color);
    margin-bottom: 20px;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
  }

  h2 {
    color: var(--text-color);
    margin-bottom: 20px;
    text-decoration: solid underline var(--accent-color);
  }

  nav > ul {
    display: flex;
    justify-content: center;
  }
  
  nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: 750;
    transition: color 0.3s ease;
  }
  
  nav > ul > li > a:hover {
    color: var(--accent-color);
  }
  
  .container {
    width: 90%;
    margin: 5% auto;
  }

  section ul {
    list-style: none;
    display: flex;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    display: inline;
    text-align: center;
  }

  #github {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    font-size: 0.9rem;
  }

  #contacto {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    font-size: 0.9rem;
  }

  footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    font-size: 0.9rem;
  }
  