* {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #1e3a8a;
    color: #fff;
    border-bottom: 2px solid #1e40af;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
  }

    header > h1 {
        padding: 10px;
    }
  
  header, h2 {
    text-align: center;
  }
  
  nav > ul {
    margin: 5px 0;
  }
  
  nav li {
    background-color: #93c5fd;
    padding: 7px;
    margin: 1em auto;
    width: 25%;
    border: 2px solid;
    border-radius: 5px;
    list-style-type: none;
    display: inline-block;
  }
  
   main {
    position: relative;
    top: 103px;
  } 
  
  section {
    min-height: 100vh;
  }
  
  footer > p {
    width: 80%;
    margin: auto;
  }
  
  section > h2 {
    border-bottom: 0.5px solid #60a5fa;
    position: sticky;
    top: 103px;
  }
  
  #contacto {
    background-color: #1e3a8a;
    color: #fff;
  }
  
  #menu {
    background-color: #3b82f6;
    color: #1e3a8a;
    padding: 5px;
    border: 2px solid #1e40af;
    border-radius: 5px;
    width: 25%;
    position: fixed;
    top: 100px;
    left: 15px;
    z-index: 1;
  }